<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/style.css">
    <title>Cart</title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-data">
                <ul class="nav-list">
                    <li><a href="../pages/cart.html"><i class="fa fa-shopping-cart"></i></a></li>
                    <!-- <li><button>logout</button></li> -->
                </ul>
            </div>
        </nav>
    </header>
    <div class="wrapper">
        <h1 class="cart-heading">Cart items</h1>
        <div class="cart-container">
            <div class="cart-card">

                <div class="cart-image">
                    <img src="../assets/images/keyboard-338505_1280.jpg" alt="" height="200" width="200">
                </div>
                <div class="cart-details">
                    <h4>Product Name: Camera</h4>
                    <h4>Price: <span class="dollar-symbol">20$</span></h4>
                </div>
                <div class="remove-item">
                    <button class="btn-remove">Remove</button>
                </div>
            </div>
            <div class="cart-card">

                <div class="cart-image">
                    <img src="../assets/images/keyboard-338505_1280.jpg" alt="" height="200" width="200">
                </div>
                <div class="cart-details">
                    <h4>Product Name: Camera</h4>
                    <h4>Price: <span class="dollar-symbol">20$</span></h4>
                </div>
                <div class="remove-item">
                    <button class="btn-remove">Remove</button>
                </div>
            </div>
            <div class="cart-card">

                <div class="cart-image">
                    <img src="../assets/images/keyboard-338505_1280.jpg" alt="" height="200" width="200">
                </div>
                <div class="cart-details">
                    <h4>Product Name: Camera</h4>
                    <h4>Price: <span class="dollar-symbol">20$</span></h4>
                </div>
                <div class="remove-item">
                    <button class="btn-remove">Remove</button>
                </div>
            </div>
        </div>
        <div class="button-checkout">
            <button class="btn-checkout">Checkout</button>
        </div>
        <div class="continue-shopping">
            <a href="../pages/index.html">
                <button class="btn-continue-shopping">Continue shopping</button>
            </a>

        </div>
    </div>
</body>

</html>