{% extends 'base_sai.html' %}
{% block content %}


<div class="home_page_background">
    <div class="some_home_class d-flex flex-column">
    <h1 class="home_page_text display-1 text-center text-light">Where To Go?</h1>
    
    <div class="buttons-home text-center">
       <a href="http://127.0.0.1:8000/admin_utiliti"><button class="restaurant-btn btn btn-light text-dark ">Dining?</button></a> 
    <a href="http://127.0.0.1:8000/rooms/"><button class="restaurant-btn btn btn-light text-dark  m-2">Room Booking?</button></a>
</div>
</div>
</div>

{% endblock %}