<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width,initial-scale=1">-->
<!--&lt;!&ndash;  google font&ndash;&gt;-->
<!--  <link rel="preconnect" href="https://fonts.googleapis.com">-->
<!--<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
<!--<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">-->
<!--&lt;!&ndash;  font awsom&ndash;&gt;-->
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--&lt;!&ndash;  connect style.css&ndash;&gt;-->
<!--  <link rel="stylesheet" type="text/css" href="style.css">-->
<!--  <title>Resturant</title>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;hero section&ndash;&gt;-->
<!--<div id="hero">-->
<!--    <div id="hero_content">-->
<!--      <h1>Resturant</h1>-->
<!--      <h2>Best Quality and Tasty Food Point</h2>-->
<!--      <a href="">Catagory</a>-->
<!--      </div>-->
<!--&lt;!&ndash;  header sction  begin&ndash;&gt;-->
<!--  <div id="header">-->
<!--    <nav id="navbar">-->
<!--      <h1> Resturant </h1>-->
<!--      <ul>-->
<!--        <li><a href="">Home</a></li>-->
<!--        <li><a href="http://127.0.0.1:8000/category_api/1/">Menu</a></li>-->
<!--        <li><a href="">Chef</a></li>-->
<!--        <li><a href="">About</a></li>-->
<!--        <li><a href="">Contact</a></li>-->
<!--      </ul>-->
<!--      <div id="phone">-->
<!--        <a href="tel:+3445445656">+5654456787</a>-->
<!--      </div>-->
<!--    </nav>-->
<!--    <div id="mobile_menu">-->
<!--      <ul>-->
<!--        <li><a href="">Home</a></li>-->
<!--          <li><a href="http://127.0.0.1:8000/category_api/1/">Menu</a></li>-->
<!--          <li><a href="">Chef</a></li>-->
<!--          <li><a href="">About</a></li>-->
<!--          <li><a href="">Contact</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->



<!--&lt;!&ndash;  header section end&ndash;&gt;-->
<!--</div>-->
<!--</body>-->
<!--</html>-->