<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
<!--  google font-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<!--  font awsom-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--  connect style.css-->
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <title>Resturant</title>
       <style>
    .order-heading{
    text-align:center;
    }
    .order{
    padding: 20px;
    background: bisque;
    height:100vh;
    }
        .order-container{
            display: flex;
    flex-direction: row;
flex-wrap:wrap;
    justify-content: center;
    align-items: flex-start;
    gap:20px;
    padding:20px;
<!--    background: aliceblue;-->
    }

    table{
     font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
    }


.order-group{
 box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
 min-height:242px;
 padding:20px;
 background: white;
}
.order-group input
{
padding: 10px;
}
.add-to-cart{
display: flex;
    justify-content: center;
    margin: 30px 0px 0px 0px;
}
    td, th {
<!--  border: 1px solid #dddddd;-->
  text-align: left;
  padding: 8px;
}

    </style>
</head>
<body>
<!--hero section-->
<div id="hero">
    <div id="hero_content">
      <h1>Resturant</h1>
      <h2>Best Quality and Tasty Food Point</h2>
      <a href="">Catagory</a>
      </div>
<!--  header sction  begin-->
  <div id="header">
    <nav id="navbar">
      <h1> Resturant </h1>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="http://127.0.0.1:8000/category/1">Menu</a></li>
        <li><a href="">Chef</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contact</a></li>
      </ul>
      <div id="cart">
          <a href="cart.html" class="cart-icon" onclick=""><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
      </div>
    </nav>
    <div id="mobile_menu">
      <ul>
        <li><a href="">Home</a></li>
          <li><a href="category-form">Menu</a></li>
          <li><a href="">Chef</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Contact</a></li>
      </ul>
    </div>
  </div>


<!--  header section end-->
</div>
<!--Menu section-->
    <div id=menu">
        <h1 id="section">Menu</h1>
        <div id="menu_row">
            <div id="menu_col">
                <h2>Breakfast</h2>
                <div class="box">
                    <div id="image">
                        <img src="/static/img/breakfast1.jpg">

                    </div>
                </div>
                <div>
                    <h3>Tasty Dish</h3>
                    <h4>10$</h4>
                </div>
            </div>
        </div>
    </div>





<!--Menu section-->


<!--about us-->
<div id="about">
    <h1 id="section_about">About</h1>
    <div id="about_row">
        <div class="about_col">
            <h1>About Us</h1>
            <p>
                Who are we?
                Launched in 2010, Our technology platform connects customers, restaurant partners and delivery partners, serving their multiple needs. Customers use our platform to search and discover restaurants, read and write customer generated reviews and view and upload photos, order food delivery, book a table and make payments while dining-out at restaurants. On the other hand, we provide restaurant partners with industry-specific marketing tools which enable them to engage and acquire customers to grow their business while also providing a reliable and efficient last mile delivery service. We also operate a one-stop procurement solution, Hyperpure, which supplies high quality ingredients and kitchen products to restaurant partners. We also provide our delivery partners with transparent and flexible earning opportunities.
            </p>
        </div>
        <div class="about_col">
            <div id="about_img">
                <img src="/static/img/about.png">
            </div>

        </div>
    </div>
</div>

<!--fotter-->

<div id="footer">
    <div>
        <h5>Copyright &copy;2023 | <a href="">Resturant</a></h5>
    </div>
    <div id=""top>
        <a href="#header"><i class="fa fa-chevron-circle-up"></i></a>
    </div>
</div>




<!--catogory-->

 {% for item in return_list %}
    {% if forloop.last %}
        <script>
            function redirectToAPI(form) {
                var table_name = '{{ item.table_number }}';
                console.log("table_name", table_name);

                var category = form.category.value;
                // Redirect to the desired API endpoint with the selected category and table_name
                var url = '/items?category=' + encodeURIComponent(category) + '&table_name=' + encodeURIComponent(table_name);
                // Redirect to the desired API endpoint with the selected category and table_name
                window.location.href = url;
            }
        </script>
    {% endif %}
{% endfor %}


<div id="category-form">
  <h1>Items</h1>
  <div class="category-form">
    <form onsubmit="event.preventDefault(); redirectToAPI(this);">
      <select name="category">
        {% for item in return_list %}
        <option value="{{ item.categoryName }}">{{ item.categoryName }}</option>
        {% endfor %}
      </select>
      <button type="submit">Go</button>
    </form>
  </div>
</div>
</body>
</html>



