<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HTML/CSS Login Page</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body style="background-color:#f5f5ef">
<div class="form">
    <div class="title">Chef Login</div>
    <div class="subtitle">Login to view order detail</div>
    <div class="input-container ic1">
        <input id="phoneNumber" class="input" type="text" placeholder="">
        <div class="cut"></div>
        <label for="phoneNumber" class="placeholder">Phone Number</label>
    </div>
    <div class="input-container ic2">
        <input id="password" class="input" type="password" placeholder="">
        <div class="cut"></div>
        <label for="password" class="placeholder">Password</label>
    </div>
    <button id="loginButton" type="button" class="submit">Login</button>
</div>

<script>
    $(document).ready(function() {
        // Handle click event of the login button
        $('#loginButton').click(function() {
            var phoneNumber = $('#phoneNumber').val();
            var password = $('#password').val();

            // Make a GET request to the order_item_api
            $.ajax({
                url: '/order_api/',
                method: 'GET',
                data: {
                    phone_number: phoneNumber,
                    password: password
                },
                success: function(response) {
                    // Handle successful response
                    console.log(response);
                    // Redirect to the order detail page or perform any other action
                },
                error: function(error) {
                    // Handle error response
                    console.error(error);
                }
            });
        });
    });
</script>

</body>
</html>
