<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
{% load static %}
<html>
<head>
    <title>Verify OTP</title>
</head>
<body>
   <div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
    <div class="wrapper wrapper--w960">
        <div class="card card-2">
            <div class="card-heading"></div>
            <div class="card-body">
            <h2  class="title text-center">Verify OTP</h2>
                <form id="otpForm">
                    {% csrf_token %}
                    <label for="otp" style="font-weight: bold; font-size: 18px;" >Enter OTP:</label>
                    <input type="text" style="width: 300px;height: 40px;border:1px solid;font-size: 18px;" name="otp" id="otp" required><br>
                    <input type="hidden" name="phone_number" id="phone_number"   value="{{ phone_number }}">

                    <input type="hidden" name="table_number" value="{{table_name}}">
                    <input type="submit" style="background-color: green; color: white;width: 140px; height: 35px;font-weight: bold;" value="Verify">
                </form>
          </div>
        </div>
    </div>
    </div>
    </div>
    <script>
        // Handle form submission
        document.getElementById('otpForm').addEventListener('submit', (event) => {
            event.preventDefault();

            const form = event.target;
            const formData = new FormData(form);

            // Create a new XMLHttpRequest object
            const xhr = new XMLHttpRequest();
let tableName
            // Define the function to handle the response
            xhr.onload = function() {
                if (xhr.status >= 200 && xhr.status < 400) {
                    const response = JSON.parse(xhr.responseText);
                    console.log('before OTP verification successful',response);

                    if (response.success) {
                        // Successful response
                        console.log('OTP verification successful',response);
                        console.log('OTP verification successful',response.table_name);
                       tableName = response.table_name
                       //window.location.href = '/category_api/' + response.table_number + '/'; // Redirect to the home screen
                        window.location.href = `/category_api/${tableName}/`; // Redirect to the home screen

                    } else {
                        // Failed response
                        console.log('OTP verification failed');
                        // Handle the error and display appropriate message
                    }
                } else {
                    // Error response
                    console.log('OTP verification failed');
                    // Handle the error and display appropriate message
                }
            };

            // Define the function to handle errors
            xhr.onerror = function() {
                console.error('Error:', xhr.statusText);
            };

            // Make POST request to verify_api with the form data
            xhr.open('POST', '/user_api/');
            xhr.send(formData);
        });
    </script>

</body>
</html>
{% endblock %}
