<!-- verify_otp.html -->

<!DOCTYPE html>
<html>

<head>
    <title>Verify OTP</title>
</head>
<body>
<div class="background-">
    <div class="banner-background">
      <div class="login-wrapper">
    <h2>Verify OTP</h2>
    <form method="post" action="{% url 'varify_api' %}">

        <label for="otp">Enter OTP:</label>
        <input type="text" name="otp" id="otp" required>
        <input type="hidden" name="phone_number" value="{{ phone_number }}">
        <input type="submit" value="Verify">
    </form>
          </div>
    </div>
</div>
</body>
</html>


